/* Variables */
$silver: #ecf0f1;
$green: #27ae60;
$white: #fff;
$midnightblue: #2c3e50;
$backgroundModal: rgba(0, 0, 0, 0.7);

/* Body */
body {
    background-color: $silver;
}

/* Content */
.buttons {
    text-align: center;
    margin: 50px 0;

    .btn {
        background-color: $green;
        color: $white;
        padding: 15px 40px;
        border: 0;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: $midnightblue;
            transition-duration: 0.4s;
        }
    }

    .btn-game {
        visibility: hidden;
    }

    #new-game {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

.output {
    text-align: center;
    margin-bottom: 10px;
}

.table-game {
    margin: 15px auto;
    th {
        border: 1px solid $midnightblue;
        padding: 5px 10px;
        width: 200px;
    }
}

/* Modals */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backgroundModal;

    &.show {
        display: block;
    }

    .modal {
        display: none;
        background-color: $white;
        width: 30%;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate3d(-50%, -30%, 0);

        &.show {
            display: block;
        }

        .close {
            float: right;
            padding: 5px 15px;
            color: $midnightblue;
            text-decoration: none;
            font-size: 18px;
        }

        header {
            padding: 15px 15px;
            color: grey;
            font-weight: 600;
            border-bottom: 1px solid grey;
        }

        .modal-content {
            text-align: center;
            padding: 20px;
            color: grey;
            font-size: 18px;
            font-weight: 500;
        }
    }
}